<h1>Listing postals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postals.each do |postal| %>
      <tr>
        <td><%= postal.title %></td>
        <td><%= postal.body %></td>
        <td><%= link_to 'Show', postal %></td>
        <td><%= link_to 'Edit', edit_postal_path(postal) %></td>
        <td><%= link_to 'Destroy', postal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postal', new_postal_path %>
