<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @postal.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @postal.body %>
</p>

<%= link_to 'Edit', edit_postal_path(@postal) %> |
<%= link_to 'Back', postals_path %>
