<h1>Listing commentals</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commentals.each do |commental| %>
      <tr>
        <td><%= commental.post_id %></td>
        <td><%= commental.body %></td>
        <td><%= link_to 'Show', commental %></td>
        <td><%= link_to 'Edit', edit_commental_path(commental) %></td>
        <td><%= link_to 'Destroy', commental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commental', new_commental_path %>
