<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @commental.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @commental.body %>
</p>

<%= link_to 'Edit', edit_commental_path(@commental) %> |
<%= link_to 'Back', commentals_path %>
